.navbar{
    width: 100%;
    font-family: cursive;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    position: sticky;
    color: #fff;
    top: 0;
    z-index: 3;
    background-color: rgba(57, 56, 56, 0.5);
    box-shadow:  0 0 20px black;
    padding: 0 10px;
    box-sizing: border-box;
}

.navbar-left{
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(57, 56, 56, 0.5);
}

.navbar-left:hover{
    cursor: pointer;
}

.navbar-right{
    padding: 10px;
}

.navbar-right ul{
    display: flex;
    list-style: none;
    gap: 2px;
}

.navbar-right ul li{
    width: 90px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-justify: distribute;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(57, 56, 56, 0.5);
}

.navbar-right ul li:hover{
    cursor: pointer;
}

/* media query for width less then 720px*/

@media (width <= 720px) {
    .navbar-right{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgb(107, 105, 105);
        
    }

    .navbar-right ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .navbar-right ul li{
        padding: 0 10px;
    }
}