.navbar{
    width: 100%;
    font-family: cursive;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    position: sticky;
    color: #fff;
    top: 0;
    z-index: 3;
    background-color: rgba(57, 56, 56, 0.5);
    box-shadow:  0 0 20px black;
    padding: 0 10px;
    box-sizing: border-box;
}

.navbar-left{
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(57, 56, 56, 0.5);
}

.navbar-left:hover{
    cursor: pointer;
}

.navbar-right{
    width: 80%;
    box-sizing: border-box;
}

.navbar-right ul{
    display: flex;
    list-style: none;
    background-color: rgba(57, 56, 56, 0.5);
    border-radius: 3px;
    justify-content: space-around;
}

.navbar-right ul li{
    font-size: 13px;
    padding: 8px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-justify: distribute;
}

.navbar-right ul li:hover{
    cursor: pointer;
}

.navbar-hamburger{
    display: none;
}

/* media query for width less then 720px*/

@media (width <= 720px) {

    .navbar-hamburger{
        display: block;
    }

    .navbar-right{
        position: absolute;
        right: 0;
        top: 45px;
        width: 220px;
        box-sizing: border-box;
    }

    .nope{
        position: absolute;
        right: 0;
        top: -500px;
        width: 220px;
        box-sizing: border-box;
    }

    .navbar-right ul{
        display: flex;
        background-color: rgba(57, 56, 56, 1);
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .navbar-right ul li{
        border-bottom: 1px solid white;
        width: 100%;
        padding: 6px 0px;
    }
}