.Drinks {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.divide {
    display: flex;
    height: 100%;
    width: 100%;
}

.div1 {
    flex: 1;
    background-color: rgb(155, 159, 163);
}

.div2 {
    flex: 1;
    background-color: black;
}

.drink-data {
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drink-heading {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #fff;
    font-size: 4em;
    letter-spacing: 4px;
    font-weight: 600;
    position: absolute;
    top: 0;
}

.drink-slider {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.drink-container {
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    gap: 8%;
    width: 80%;
    height: 400px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    scroll-behavior: smooth;
}

.drink-scroll {
    cursor: pointer;
    font-size: 20px;
    outline: none;
    border: none;
    color: #fff;
    padding: 9px 20px;
    border-radius: 8px;
    background: #6a6969;
}

::-webkit-scrollbar {
    display: none;
}

.drink-card-coffee {
    height: 280px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 69, 69);
    border-radius: 5px;
    box-shadow: 0 0 5px white;
}

.drink-card-image {
    height: 80%;
    width: 230px;
}

.drink-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.drink-card-desc {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.drink-name {
    color: #fff;
    font-size: 16px;
    word-spacing: 5px;
}

.drink-order button {
    font-family: Georgia, "Times New Roman", Times, serif;
    outline: none;
    border: none;
    font-size: 18px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    background-color: rgb(27, 222, 59);
    color: black;
    padding: 1px 10px;
}

.scroll {
    margin: 20px;
    display: flex;
    gap: 20px;
}

/* media query for width less then 960px*/

@media (width <= 960px) {
    .drink-container {
        margin: 0 10px;
        display: flex;
        align-items: flex-end;
        gap: 5%;
        width: 85%;
    }

    .drink-card-coffee {
        height: 250px;
        width: 190px;
    }

    .drink-card-image {
        width: 190px;
    }

    .drink-heading {
        font-size: 3em;
        letter-spacing: 3px;
    }
}

/* media query for width less then 720px*/

@media (width <= 720px) {
    .drink-container {
        margin: 0 10px;
        display: flex;
        align-items: flex-end;
        gap: 5%;
        width: 85%;
    }

    .drink-card-coffee {
        height: 200px;
        width: 160px;
    }

    .drink-card-image {
        width: 160px;
    }

    .drink-heading {
        font-size: 3em;
        letter-spacing: 3px;
    }

    .drink-order button {
        font-size: 14px;
        padding: 1px 10px;
    }

    .drink-name {
        color: #fff;
        font-size: 12px;
        word-spacing: 2px;
    }
}

/* media query for width less then 520px*/

@media (width  < 540px) {
    .drink-container {
        margin: 0 10px;
        display: flex;
        align-items: flex-end;
        gap: 6%;
        width: 95%;
    }

    .drink-card {
        height: 240px;
        width: 190px;
    }

    .drink-card img {
        width: auto;
    }

    .drink-scroll {
        font-size: 15px;
        padding: 8px 15px;
    }

    .drink-heading {
        font-size: 2em;
        letter-spacing: 3px;
    }

    .drink-name {
        color: #fff;
        font-size: 12px;
        word-spacing: 2px;
    }
}
