.Drinks{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.divide{
    display: flex;
    height: 100%;
    width: 100%;
}

.div1{
    flex: 1;
    background-color: rgb(155, 159, 163);
}

.div2{
    flex: 1;
    background-color: black;
}

.drink-data{
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drink-heading{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-size: 4em;
    letter-spacing: 4px;
    font-weight: 600;
    position: absolute;
    top: 0;
}




.drink-container{
    max-width: 800px;
    display: flex;
}





.drink-list{
    display: flex;
    overflow: hidden;
    gap: 45px;
}






















.drink-card{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 69, 69);
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}

.drink-card img{
    height: 200px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.drink-name{
    color: #fff;
    font-size: 20px;
    word-spacing: 10px;
}

.drink-order button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: rgb(115, 113, 113);
    color: #fff;
    padding: 1px 10px;
}