.Drinks{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.divide{
    display: flex;
    height: 100%;
    width: 100%;
}

.div1{
    flex: 1;
    background-color: rgb(155, 159, 163);
}

.div2{
    flex: 1;
    background-color: black;
}

.drink-data{
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drink-heading{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-size: 4em;
    letter-spacing: 4px;
    font-weight: 600;
    position: absolute;
    top: 0;
}


.drink-slider{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.drink-container{
    margin: 0 10px;
    display: flex;
    align-items: end;
    gap: 10%;
    width: 800px;
    height: 400px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    scroll-behavior: smooth;
}

.drink-scroll{
    cursor: pointer;
    font-size: 20px;
    outline: none;
    border: none;
    color: #fff;
    padding: 9px 20px;
    border-radius: 8px;
    background: #6a6969;
}

::-webkit-scrollbar{
    display: none;
}



.drink-card{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 69, 69);
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}

.drink-card img{
    height: 200px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.drink-name{
    color: #fff;
    font-size: 20px;
    word-spacing: 10px;
}

.drink-order button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: rgb(115, 113, 113);
    color: #fff;
    padding: 1px 10px;
}

.scroll{
    margin: 20px;
    display: flex;
    gap: 20px;
}


/* media query for width less then 960px*/

@media (width <= 960px) {
    .drink-card{
        height: 250px;
        width: 180px;
    }

    .drink-container{
        margin: 0 10px;
        display: flex;
        align-items: end;
        gap: 5%;
        width: 500px;
    }

    .drink-card img{
        width: auto;
    }

    .drink-heading{
        font-size: 3em;
        letter-spacing: 3px;
    }
    
}


/* media query for width less then 720px*/

@media (width <= 540px) {
    .drink-card{
        height: 250px;
        width: 180px;
    }

    .drink-container{
        margin: 0 10px;
        display: flex;
        align-items: end;
        gap: 6%;
        width: 320px;
    }

    .drink-card img{
        width: auto;
    }

    .drink-scroll{
        font-size: 15px;
        padding: 8px 15px;
    }
    
    .drink-heading{
        font-size: 2em;
        letter-spacing: 3px;
    }
}