.aboutus{
    background-image: url("../../assets/about.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.aboutus-main{
    height: 80%;
    width: 80%;
    position: relative;
}

.aboutus-top h1{
    color: white;
    font-size: 60px;
    font-family: Times, serif;
}

.aboutus-top p{
    font-size: 25px;
    color: #fff;
}

.aboutus-footer{
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 20px;
}

.aboutus-footer ul{
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-between;
}

/* media query for width less then 940 px */

@media (width < 940px) {
    .aboutus-top h1{
        font-size: 40px;
    }

    .aboutus-top p{
        font-size: 19px;
    }
}

/* media query for width less then 720 px */

@media (width < 940px) {
    .aboutus-top h1{
        font-size: 30px;
    }

    .aboutus-top p{
        font-size: 17px;
    }
}

@media (width < 540px) {
    .aboutus-top h1{
        font-size: 30px;
    }

    .aboutus-top p{
        padding: 40px 20px;
        font-size: 19px;
        background: rgba(23, 23,23, 0.6);
    }

    .aboutus-footer{
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            grid-gap: 1px; 
            grid-auto-rows: minmax(20px, auto); 
        }
    }
}