.Coffee-Menu{
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(67, 64, 64, 0.5);
    border-radius: 5px;
    padding-bottom: 20px;
}

.Coffee-Menu-top{
    height: 20%;
}

.Coffee-Menu-top h1{
    color: white;
    font-family: 'Trebuchet MS';
    background: rgba(67, 64, 64, 0.9);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.Coffee-Menu-bottom{
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.Coffee-Menu-card{
    height: 280px;
    width: 220px;
    background: rgba(67, 64, 64, 0.9);
    border-radius: 5px;
    margin-bottom: 10px;
}

.Coffee-Menu-card img{
    width: 100%;
    height: 75%;
    border-radius: 5px;
}

.Coffee-Menu-desc{
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.Coffee-Menu-card h3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Coffee-Menu-card .name{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.Coffee-Menu-card .price{
    padding:2px 5px;
    border-radius: 5px;
    background-color: black;
}


.Order-Now{
    font-size: 15px;
    font-weight: 200;
    background-color: rgb(16, 247, 16);
    border: none;
    outline: none;
    padding: 4px 6px;
    border-radius: 5px;
}

.Order-Now:hover{
    cursor: pointer;
    background-color: rgb(65, 255, 65);
}

@media (720px <= width < 940px) {
    .Coffee-Menu-card{
        height: 250px;
        width: 180px;
    }

    .Coffee-Menu-bottom{
        width: 90%;
    }
}

@media (540px <= width < 720px) {
    .Coffee-Menu-bottom{
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    .Coffee-Menu-card{
        height: 230px;
        width: 195px;
    }

    .Coffee-Menu-card .name{
        color: white;
        font-size: 18px;
        font-family: Roboto, Oxygen, Ubuntu,;
        font-weight: 200;
    }
}