.register{
    box-shadow: 0 0 10px black;
    width: 400px;
    height: 70vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/register.jpg);
    background-size: cover;
    border-radius: 20px;
}

.register-container{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.register h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    box-shadow: 0 0 10px black;
}

.register form{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.register form input{
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(99, 91, 94);
    outline: none;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 1.5em;
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    box-shadow: 0 0 10px black;
}

.register form .submit{
    color: #fff;
    background-color: rgb(99, 91, 94);
    outline: none;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    font-size:1.5em;
}